.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

.title {
	font-size: clamp(1.75rem, 0.458rem + 2.68vw, 2.5rem); // 28 40
	color: var(--text-color, #101010);
	font-variant-numeric: lining-nums proportional-nums;
	font-weight: 700;
	line-height: 120%; /* 48px */
}
